<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqDkkzPF_eQL1pbYrb1wwe9I7WhD1gr8o</string>
	<key>GCM_SENDER_ID</key>
	<string>1023108482579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Development.Group-4</string>
	<key>PROJECT_ID</key>
	<string>ecowalk-1d6b2</string>
	<key>STORAGE_BUCKET</key>
	<string>ecowalk-1d6b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023108482579:ios:8b555143dcb0c1b567e1e6</string>
</dict>
</plist>